# macOS
.DS_Store

# Xcode user state
*.xcuserstate
xcuserdata/

# Xcode build output
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods and Carthage generated dependencies
Pods/
Carthage/Build/

# Fastlane generated artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# App signing and archives
*.mobileprovision
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace/
